/**
 * Burguer menu icon styles
 **/


$fill: #000;
$iconSize: 30px;

.menu-trigger {
  z-index:4;
  position: absolute;
  right:0px;
  display: inline-block;
  width: $iconSize * 1.2;
  height: $iconSize;
  margin:50px;
  
  span, span:before, span:after {
    @include transition((transform 0.5s, background 0.5s));
    display: block;
    width: 100%;
    height: $iconSize / 5;
    background: $fill;
  }
  
  span {
    position: relative;
    margin: ($iconSize * 2 / 5) 0 0;
  }
  
  span:before, span:after {
    position: absolute;
    content: "";
  }
  
  span:before {
    top: $iconSize * -2 / 5;
  }
  
  span:after {
    top: $iconSize * 2 / 5;
  }
}
.menu-trigger.open {
  span:before {
    background: #fff;
    @include transform((translate(0px, ($iconSize * 2 / 5)) rotate(90deg)));
  }
  span:after {
      background: #fff;
    @include transform((translate(0px, -($iconSize * 2 / 5)) rotate(90deg)));
  }
  span {
      background: #fff;
    @include transform(rotate(-45deg));
  }
}