.social-container
{
    position: absolute;
    text-align:right;
    bottom:20px;
    right:20px;
}

.contact
{
    position:absolute;
    padding:20px;
}

/**** LEFT ********************/

.contact.left
{
    position:absolute;
    top:0px;
    right:20px;
    width:350px;
    height:100%;
    text-align:right;
}
.contact.left .title-info
{
    text-align:right;
}

.contact.left .email
{
    position: absolute;
    text-align:left;
    bottom:20px;
    right:20px;
}

/**** RIGHT ********************/

.contact.right
{
    top:0px;
    right:0px;
    padding-left:35px;
    width:250px;
    height:100%;
    background-color:rgba(255,255,255,0.3);
    transform:translateX(100%);
}

.contact.right .title-container
{
    text-align:left;
    color:#000;
}

.contact.right .title-info
{
    text-align:left;
    float:left;
    width:100%;
    color:#000;
}

.contact.right .title-top
{
    text-align:left;
    color:#000;
    font-weight:600;
}

/**** TOP ********************/

.contact.top
{
    position:absolute;
    top:0px;
    right:20px;
    width:350px;
    height:100%;
    text-align:right;
    transform:translateY(-100%) !important;
}

/**** BOTTOM ********************/

.contact.bottom
{
    position:absolute;
    top:0px;
    right:20px;
    width:350px;
    height:100%;
    text-align:right;
    transform:translateY(100%);
}
.contact.bottom .title-info
{
    text-align:right;
}
