%cursorPlus {
  cursor: url(../src/cursors/cur_plus.svg), auto;
}
%cursorClose {
  cursor: url(../src/cursors/1422662920_cross.svg), 32px;
}

%cursorPointer {
  cursor: url(data:image/png;base64,iVBORw0KGgoAASUhEUgAAACAAAAAgCAYAAABzenr0AAAJFklEQVR42rWXCXBU9R3Hv+/V...), auto;
}
/*.svg {
  cursor: url(http://wiki.ooo4kids.org/images/b/b3/Cursor-Hand.svg), auto;
}*/
   