.section-gallery
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    will-change: transform;
    @include transform(translateY(-100%));
    @include transition(transform 1000ms 0ms $transition-effect);
}

.section-gallery.show
{
    @include transform(translateY(0));
    @include transition(transform 1000ms 1000ms $transition-effect);
}

.gallery-content
{
    @include transform(translateX(0) translateY(0));
    @include transition(transform 1000ms 0ms $transition-effect);
}

.gallery-content.hide
{
    @include transform(translateX(0) translateY(100%));
    @include transition(transform 1000ms 1000ms $transition-effect);
}

.gallery-content .content-left{
    will-change: transform;
    @include transform(translateY(0));
    @include transition(transform 1000ms 500ms $transition-effect);
}

.gallery-content .content-right{
    will-change: opacity;
    @include transition(opacity 1000ms 1000ms $transition-effect);
}

.gallery-thumb-container
{
    z-index:2;
    position:relative;
    top:$menu-height;
    width:100%;
    height:32px;
    padding-top:4px;
    margin:auto;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    opacity:1;
    will-change: transform;
    @include transform(translateY(-100%));
    @include transition(transform 500ms 2000ms $transition-effect);
}

.section-gallery.show .gallery-thumb-container
{
    @include transform(translateY(0));
}

.gallery-thumb
{
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:10px;
    //border-radius:5px;
    cursor:pointer;
    will-change:background-color;
    background-color:rgba(255,0,0,0.3);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    @include transition((background-color 1000ms 0ms $transition-effect, transform 1000ms 0ms $transition-effect));
}

.gallery-thumb:hover
{
   background-color:rgba(255,0,0,0.7);
   
}

.gallery-thumb.active
{
    border-radius:5px;
    background-color:red;
     -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}


.gallery-item-container
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;

}

.gallery-item{
  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}


.load-model-container
{
    position:absolute;
    top:0px;
    right:0px;
    width:400px;
    height:100%;
    padding:50px;
}

/**
* Current model Info
**/

.model-info-wrapper{
    z-index: 1;
    position:relative;
    width:100%;
    height:100%;
    background-color:transparent;
    overflow:hidden;
}

.model-background-img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.load-model-button
{
    @extend %menu-font;
    padding:7px 20px 7px 20px;
    text-align:center;
    float: right;
    border: 1px solid red;
    margin-top:5px;
    margin-left:10px;
    will-change: background-color;
    @include transition(background-color 200ms 0s $transition-effect);
}

.load-model-button:hover
{
    background-color:rgba(255,0,0,0.3);
}

/* next and prev arrows */


button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  z-index:3;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 70px;
  height: 90px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 5;
}

.left:active polyline {
  stroke-width: 7;
  transition: all 100ms $transition-effect;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 5;
}

.right:active polyline {
  stroke-width: 7;
  transition: all 100ms $transition-effect;
}

polyline {
  transition: all 250ms $transition-effect;
}
