.section-gallery
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    opacity:0;
    will-change: opacity;
    @include transition(opacity 1000ms 1000ms $transition-effect);
}

.section-gallery.show
{
    opacity:1;
    @include transition(opacity 1000ms 0ms $transition-effect);
}

.gallery-thumb-container
{
    z-index:2;
    position:absolute;
    top:$menu-height;
    width:100%;
    height:5px;
    background-color:rgba(255,0,0,0.3);
    opacity:1;
    will-change: transform;
    @include transform(translateX(-100%));
    @include transition(transform 1000ms 600ms $transition-effect);
}

.section-gallery.show .gallery-thumb-container
{
    @include transform(translateX(0));
    @include transition(transform 1000ms 300ms $transition-effect);
}

.gallery-thumb-container .content-left
{
    z-index:2;
    position:absolute;
    left:0px;
    width:250px;
    height:100%;
    text-align:right;
}

.gallery-thumb-container .content-right
{
    z-index:2;
    position:absolute;
    left:300px;
    width:100%;
    height:100%;
}

.gallery-thumb
{
    float:left;
    width:calc(100%/6);
    height:100%;
    cursor:pointer;
    will-change:background-color;
    background-color:transparent;
    @include transition(background-color 1000ms 0ms $transition-effect);
}

.gallery-thumb.active
{
    background-color:red;
}


.gallery-item-container
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;

}

.gallery-item{
  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}



/**
* Current model Info
**/

.model-info-wrapper{
    z-index: 1;
    position:relative;
    width:100%;
    height:100%;
    background-color:transparent;
}

.model-background-img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}






