/*
 * Main Header Title styling
 **/

.header-title
{
  z-index:6;
    position: absolute;
    top: 0px;
    bottom: 0px;
/* left: 0px; */
/* right: 0px; */
    margin: auto;
  //right:none;//temp
  
  width:$header-title-width;
  height:$header-title-height;
  border: 0px solid #000;
  text-align: center;
  background: rgba(255,255,255,1);
  color: #000;
  opacity:1;//temp
}

.header-title.open 
{
    opacity:0;
}

.bottom-info
{
    position:absolute;
    bottom:0px;
    left: 0px;
    width:100%;
    height:  calc(100% / 4);
    background-color: transparent;
}

.bottom-info hr
{
    float:right;
    width:100%;
    margin-top:10px;
    margin-bottom:20px;
}

.bottom-info .number
{
    position:absolute;
    top:0px;
    right: 0px;
    width:50%;
    font-weight:600;
    font-size:16vh;
    text-align:center;
    color: rgba(255,0,0,0.8);
    margin-top: 0px;
}

.small-text
{
    position:absolute;
    padding-top:14%;
    width:50%;
    font-weight:300;
    font-size:11px;
    text-align:right;
    text-transform: initial;
}

.bottom-info .small-text b
{
    text-transform:uppercase;
}


.flip-container {
    @extend %header-title-font;
    @include perspective(1000);
    @include transform(perspective(1000px));
    @include transform-style(preserve-3d);
    float:left;
    width:50%;
    height:calc(100% / 4);
    padding-top:50px;//tmp
}
/* START: Accommodating for IE */
.flip-container.flipped .back {
    @include transform(rotateY(0deg));
}

.flip-container.flipped .front {
    @include transform(rotateY(180deg));
}
		
/* END: Accommodating for IE */

.title-char {
    @include transform-style(preserve-3d);
    @include transition(transform 0.6s);
    position: absolute;
    width:100%;
}

.front, .back {
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include transition(transform 0.6s);
    @include transform(rotateY(0deg));
    position: absolute;
    width:100%;
}

.front {
    z-index: 3;
}

.back {
    @include transform(rotateY(-180deg));
}
