/* generic sreen resize */
@media only screen and (max-width : 1280px)
{
    .section-content{
        height:300px;
    }
    .section-content .content-right .content-info-list{
        width:150px;
        margin-bottom:30px;
    }
    
    .gallery-content{
        height:250px;
    }
    
    .footer-section-info{
        padding-left:20px;
    }
}

/* generic sreen resize */
@media only screen and (max-width : 900px)
{
    .section-content{
        height:420px;
        overflow-y:auto;
        overflow-x: hidden;
    }
    
    .section-content .content-right .content-info {
        width:100%;
    }
    .section-content .content-right .content-info-list{
        width:250px;
        margin-bottom:30px;
    }
    .section-settings{
        height:calc(100% - 100px);
    }
    .content-title-fake{
        height:20px;
    }
    
    .content-left{
        width:250px !important;
    }
    
    .content-right{
        width:calc(100% - 250px) !important;
    }
}

@media only screen and (max-width : 700px)
{
    
    .section-content{
        height:calc(100% - 100px);
        border-top: 1px solid rgba(255,0,0,0.3);
    }
    
    .gallery-content{
        height:100%;
        padding-left:20px;
        top:50px;
        padding-top:50px;
    }
    
    .load-model-container{
        padding-right:20px;
    }
    
    .diagonal-overlay-right
    {
        display:none;
    }
}

@media only screen and (max-height : 650px)
{
    
    .section-content{
        padding-top:20px;
    }
    
    .load-model-container{
        padding-top:20px;
    }
    
    .diagonal-overlay-right
    {
        display:none;
    }
 
}

/* Smartphones (portrait) ----------- */


@media only screen and (max-width : 450px){
    
    .burguer-container{
        display: block;
    }
    
    .menu{
        display:none;
    }
    
    .section-content{
        overflow-y:auto;
        overflow-x: hidden;
        padding-top:20px;
        height:calc(100% - 100px);
        border-top: 1px solid rgba(255,0,0,0.3);
         @include transition(transform 1000ms 0ms $transition-effect);
    }
    
    .gallery-content{
        overflow:hidden;
        padding-top:20px;
        height:100%;
        top:50px;
    }
    
    .content-left{
        width:100% !important;
        height:85px !important;
    }
    .content-right{
        width:100% !important;
        padding-left:20px !important;
        height:calc(100% - 250px) !important;
    }
    .content-info-list{
        width:100% !important;
    }
    
    .footer-section-info{
       padding-left:10px;
    }
    
    /*contact fix*/
    .section-contact .content-left{
        display:none;
    }
    
    .section-contact .content-right .content-info .content-title{
        display:none;
    }
    
    /* credits fix */
    .section-credits .content-left{
        display:none;
    }
   
    .gallery-content .content-left{
        padding-right:20px;
    }
    
    .gallery-content .content-right .content-title{
        //display:none;
        text-align:right;
        padding-right:20px;
    }
    
    .gallery-content .content-right .content-info{
        display:none;
    }
    
    .load-model-container
    {
        left:0;
        padding:0px;
        padding-top:75px;
        width:100%;
    }
    
    .load-model-container .content-left .content-title {
        display:none;
    }
    
    .load-model-container .content-left .content-subtitle {
        display:block;
    }
    
    .load-model-container .content-left .rule {
        display:block;
    }
    
    .diagonal-overlay-right
    {
        display:none;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 450px){
    
    .gallery-content{
        overflow:hidden;
        padding-top:20px;
        height:100%;
        top:50px;
    }
   
    .gallery-content .content-left .content-subtitle {
        display:none;
    }

    .gallery-content .content-right .content-title{
        //display:none;
    }
    
    .gallery-content .content-right .content-info{
        display:none;
    }
    
    .load-model-container
    {
        left:0;
        padding:0px;
        width:100%;
    }
    
    .load-model-container .content-left .content-title {
        display:none;
    }
    
    .load-model-container .content-left .content-subtitle {
        display:block;
    }
    
    .load-model-container .content-left .rule {
        display:block;
    }
    
    .assets-info{
        margin-top:10px;
    }
}




