
/*********************************************************************************/
header
{
    z-index:13;
    position: fixed;
	width:100%;
	height: $menu-height;
	top: 0;
	left: 0;
    background-color:$main-menu-background;
}
/* Main menu overlay style */
.menu {
    position: absolute;
    top:0;
    right:50px;
	width:800px;
	height: 100%;
    background-color:transparent;
}


.menu ul {
	position: absolute;
    list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
    width:100%;
	height: 100%;
    background-color:transparent;
}

.menu ul li {
    cursor:pointer;
	width: calc(100%/4);
    position: relative;
    float:left;
    height:100%;
    background-color:transparent;
    will-change: transform, background-color;
    @include transition((transform 0.5s 0s $transition-effect,background-color 0.5s 0s $transition-effect));
}

.menu ul li span {
    @extend %menu-font;
    display:inline-block;
    width:100%;
    text-align:center;
    margin-top:20px;
    color:$text-color;
    will-change: color;
    @include transition(color 0.5s);
}

.menu ul li:hover span {
    @extend %menu-font;
    color:$secondary-color;
}

.menu .item-active-bottom{
    position:absolute;
    bottom:-5px;
    left:0;
    width: calc(100%/4);
    height:5px;
    background-color:$secondary-color;
    will-change: transform;
    @include transform(translateX(500%));
    @include transition(transform 1000ms 0ms $transition-effect);
}

.menu .item-active-bottom.pos1{
    will-change: transform;
    @include transform(translateX(0%));
}

.menu .item-active-bottom.pos2{
    will-change: transform;
    @include transform(translateX(100%));
}

.menu .item-active-bottom.pos3{
    will-change: transform;
    @include transform(translateX(200%));
}

.menu .item-active-bottom.pos4{
    will-change: transform;
    @include transform(translateX(300%));
}

.menu-settings{
    position:absolute;
    top:0px;
    right:0px;
    width:50px;
    height:100%;
}

.settings-icon
{
    @extend %absolute-center;
    width:20px;
    height:20px;
    cursor:pointer; 
    will-change: opacity;
    opacity:0.5;
    @include transition(opacity 500ms 0ms $transition-effect);
}

.settings-icon:hover
{
    opacity:1;
}

