
/*********************************************************************************/
header
{
    z-index:13;
    position: fixed;
	width:100%;
	height: 50px;
	top: 0;
	left: 0;
    background-color:$main-menu-background;
}
/* Main menu overlay style */
.menu {
    position: absolute;
    top:0;
    right:50px;
	width:800px;
	height: 100%;
    background-color:transparent;
}


.menu ul {
	position: absolute;
    list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
    width:100%;
	height: 100%;
    background-color:transparent;
}

.menu ul li {
    cursor:pointer;
	width: calc(100%/5);
    position: relative;
    float:left;
    height:100%;
    background-color:transparent;
    will-change: transform, background-color;
    @include transition((transform 0.5s 0s $transition-effect,background-color 0.5s 0s $transition-effect));
}



.menu.toggle ul.sub-menu li.active {
    background-color:$secondary-color;
}

.menu.toggle ul.sub-menu li.active span{
    color:$text-color;
}

.menu ul.main-menu li span {
    color: $text-color;
    
}

.menu ul.sub-menu li span{
    color: $text-color;
    
}

.menu ul li {
    &:nth-child(1){
    transition-delay:0ms;
    }
    &:nth-child(2){
        transition-delay:200ms;
    }
    &:nth-child(3){
        transition-delay:400ms;
    }
    &:nth-child(4){
        transition-delay:600ms;
    }
}


.menu ul li span {
    @extend %menu-font;
    display:inline-block;
    width:100%;
    text-align:center;
    margin-top:20px;
    will-change: color;
    @include transition(color 0.5s);
}

