body
{
    background-color:#000;
}

*, *:before, *:after {
  box-sizing: border-box;
 }

a {
	text-decoration: none;
	outline: none;
    color:#fff;
}

textarea {
    resize: none;
}


hr
{
    border: 0;
    height: 1px;
    background: #333;
}

p{
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

figure{
    margin:0;
}

ul
{
    margin:0;
    padding:0;
    list-style-type: none;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

video { display: block; }


input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  padding-top: 5px;
  width: 160px;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #666;
    height: 3px;
  }

  &::-webkit-slider-thumb:before {
    position: absolute;
    top: 0;
    right: 50%;
    left: -200px;
    background: #e00;
    content: '';
    height: 3px;
    pointer-events: none;
  }


  &::-webkit-slider-thumb {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    position: relative;
  }

  &::-moz-range-track {
    width: 45px;
  }

  &::-moz-range-thumb {
    width: 3px;
    height: 3px;

    -moz-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    position: relative;
  }

  &::-moz-range-progress {
    background: #e00;
  }

  &::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 3px;
    width: 45px;
  }

  &::-ms-fill-lower {
    background: #e00;
    border-radius: 0;
  }

  &::-ms-fill-upper {
    background: #666;
    border-radius: 0;
  }

  &::-ms-thumb {
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-ms-tooltip {
    display: none;
  }
}