body
{
    background-color:#000;
}

*, *:before, *:after {
  box-sizing: border-box;
 }

a {
	text-decoration: none;
	outline: none;
    color:#fff;
}

textarea {
    resize: none;
}


hr
{
    border: 0;
    height: 1px;
    background: #333;
}

p{
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

figure{
    margin:0;
}

ul
{
    margin:0;
    padding:0;
}

