@-webkit-keyframes scroll-fade { 0% { opacity: 1; top: 10px; } 100% { opacity: 0; top: 20px; } }
@-moz-keyframes    scroll-fade { 0% { opacity: 1; top: 10px; } 100% { opacity: 0; top: 20px; } }
@-o-keyframes      scroll-fade { 0% { opacity: 1; top: 10px; } 100% { opacity: 0; top: 20px; } }
@keyframes         scroll-fade { 0% { opacity: 1; top: 10px; } 100% { opacity: 0; top: 20px; } }

/*  SCROLL ICON  */

.scroll-icon, .scroll-icon:after {
  display: block;
  border-radius: 30px;
  border: solid 4px #fff;
  
  opacity:0.5;
}
.scroll-icon {
  width: 30px;
  height: 50px;
  
  position: absolute;
  bottom: 100px;
  left: 50%;
  
  margin: 0 0 0 -16px;
}
  .scroll-icon:after {
    content: '';
    width: 0;
    height: 4px;
    
    position: absolute;
    top: 20px;
    left: 50%;
    margin: 0 0 0 -4px;

    -webkit-animation: scroll-fade 1.25s infinite;
    -moz-animation:    scroll-fade 1.25s infinite;
    -o-animation:      scroll-fade 1.25s infinite;
    animation:         scroll-fade 1.25s infinite;
  }
