.settings-left
{
    position:absolute;
    bottom:0px;
    right:50px;
    height:100px;
}

.settings-right
{
    position:absolute;
    bottom:0px;
    left:50px;
    height:100px;
}

.settings-name
{
    @extend %model-settings-font;
    text-transform:uppercase;
    display: inline-block;
    float:left;
    width:100px;
    text-align:left;
    color:grey;
    will-change:color;
    clear:both;
    margin-top:5px;
    @include transition(color 0.5s);
}

.settings-performance
{
    position:absolute;
    right:90px;
    top:20px;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight:500;
}


.settings-toggle
{
    @extend %model-settings-font;
    text-transform:uppercase;
    float:left;
    margin-top:5px;
    margin-left:10px;
    color:grey;
    font-weight:100;
    cursor:pointer;
    will-change:color;
    @include transition(color 0.5s);
}

.settings-toggle:hover
{
    color:#fff;
}

.active{
    color:red !important;
    font-weight:500;
}



.settings-quality
{
    @extend %model-settings-font;
    text-transform:uppercase;
    cursor:pointer;
    display: inline-block;
    float:right;
    color:grey;
    will-change:color;
    clear:both;
    margin-top:5px;
    @include transition(color 0.5s);
}

.settings-quality:hover
{
    color:#fff;
}