
.settings-name
{
    margin-top:5px;
    display: inline-block;
    width: 100px;
    text-align:right;
    font-weight:500;
}

.settings-performance
{
    position:absolute;
    right:90px;
    top:20px;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight:500;
}


.settings-toggle
{
    margin-left:10px;
    color:grey;
    font-weight:100;
    cursor:pointer;
    will-change:color;
    @include transition(color 0.5s);
}

.settings-toggle:hover
{
    color:#fff;
}

.active{
    color:red !important;
    font-weight:500;
}

.settings-quality-name
{
    margin-top:15px;
    display: inline-block;
    width: 100px;
    text-align:right;
    font-weight:500;
}


.settings-quality-container
{
    cursor:pointer;
    width: 20px;
    float:right;
    text-align:right;
    margin-top:15px;
}

.settings-quality
{
    margin-right: 20px;
    margin-bottom: 3px;
    cursor:pointer;
    display: inline-block;
    width: 20px;
    float:right;
    color:grey;
    will-change:color;
    @include transition(color 0.5s);
}

.settings-quality:hover
{
    color:#fff;
}