.social-container
{
    position: absolute;
    text-align:right;
    bottom:20px;
    right:20px;
}

/* unicode symbols from the icon font */

.icon--twitter:before {
    content: "\F309";
}

.icon--linkedin:before {
    content: "\F318";
}

.icon--soundcloud:before {
    content: "\F348";
}

.icon--behance:before {
    content: "\F34E";
}

/* Social colours */
.social__icon--twitter:hover {
    color: #2a9dc4;
}

.social__icon--linkedin:hover {
    color: #0072a1;
}

.social__icon--soundcloud:hover {
    color: #d56209;
}

.social__icon--behance:hover {
    color: #2b91ba;
}

/* Display icons next to each other */
.social__item {
    display: inline-block;
    letter-spacing: 0px;
}

/* Basic icon style */
.icon, [class^="icon--"] {
    -moz-osx-font-smoothing: grayscale;
    font-family: "entypo";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

/* Icon background */
.social__icon, [class^="social__icon"] {
    color: #fff;
    float: left;
    font-size: 1.4em;
    height: 25px;
    text-align: center;
    text-decoration: none;
    width: 25px;
    background-color: transparent;
    /* Vertical Centering */
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(color 0.3s);
}
