/*
    Document   : app/styles/_typography．scss
    Created on : 2014-07-01 10:40 PM
    Author     : brunoQuintela
    Description: typography styling goes here
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@font-face {
	font-family: 'Lato', sans-serif;
}

@font-face {
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Oswald', sans-serif;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
}

%main-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
}

%menu-title-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    color:$text-color;
    font-weight: 300;
    font-size: 6vh;
    letter-spacing: 5px;
    text-transform: uppercase;
}


%submenu-title-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 5px;
}

%section-info-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 0px;
    text-transform: none;
}

%model-info-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    text-transform:uppercase;
    color:$text-color;
    font-weight:300;
    letter-spacing:3px;
    font-size: 15px;
}

%model-subtitle-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    text-transform:uppercase;
    color:$text-color;
    font-weight:300;
    letter-spacing:3px;
    font-size: 25px;
}

%model-settings-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    text-transform:none;
    color:$text-color;
    font-weight:300;
    letter-spacing:3px;
    font-size: 9px;
}

%model-credits-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    font-size:9px;
    color:$text-color;
    text-transform:none;
}


%menu-font
{
    font-family: $primary-font-family;
  	text-rendering: optimizeLegibility;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 5px;
}


