$menu-width: 50px;
$content-width:500px;
$content-height:calc(100%/4);
$content-padding:30px;
$gallery-width:33%;

$primary-color: rgba(0,0,0,0.8);
$secondary-color: rgba(255,0,0,1);
$background-color: rgba(0,0,0,1);
$text-color: rgba(255,255,255,1);

$loading-progress-color: #fff;
$loading-bar-color: #333;

$main-menu-background: rgba(0,0,0,1);
$sub-menu-background: rgba(0,0,0,1);

$primary-font-family: Open Sans;

$transition-effect: ease-in-out;

@import 'mixins';
@import 'reset';
@import 'typography';
@import 'gridComposer';
@include scrollbar(.8em, $secondary-color);

/**
* Wrappers and Container 
**/
.body-wrapper
{
  @extend %main-font;
  position:absolute;
  width:100%;
  height:100%;
  background: $background-color;
  z-index:0;
  overflow:hidden;
}

.threejs-canvas
{
  position:absolute;
  width:100%;
  height:100%;
}

/**
* Sections 
**/

.section-content
{
    @extend %main-font;
    z-index:2;
    position:absolute;
    width:$content-width;
    height: $content-height;
    padding:$content-padding;
    padding-right: $menu-width + $content-padding;
    text-align: right;
    right:0px;
    will-change: transform;
    @include transition((transform 1000ms 0ms $transition-effect,  opacity 500ms 0ms $transition-effect));
}

.section-content.main-menu
{
    opacity:0;
    color:$text-color;
    background-color:$primary-color;
    will-change: transform, opacity;
    @include transform(translateX(100%));
}

.section-content.main-menu.show
{
    opacity:1;
    @include transform(translateX(0));
}

.section-content.sub-menu
{
    color:$text-color;
    background-color:$primary-color;
    opacity:0;
    will-change: transform, opacity;
    @include transform(translateX(100%));
}

.section-content.sub-menu.show
{
    @include transform(translateX(0));
    opacity:1;
}

.about-info-container{
    float:right;
    width:250px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 8px;
    clear:both;
}



/**
* Submenus
**/


.submenu1
{
    top:0%;
    @include transition((transform 1000ms 0ms $transition-effect,  opacity 500ms 0ms $transition-effect));
}


.submenu2
{
    top:25%;    
    @include transition((transform 1000ms 100ms $transition-effect,  opacity 500ms 100ms $transition-effect));
}

.submenu3
{
    top:50%;
    @include transition((transform 1000ms 200ms $transition-effect,  opacity 500ms 200ms $transition-effect));
}

.submenu4
{
    top:75%;    
    @include transition((transform 1000ms 300ms $transition-effect,  opacity 500ms 300ms $transition-effect));
}



.section-content.gallery
{
    top:25%;
    width: 100%;
    background-color:$background-color;
    will-change: transform;
    @include transform(translateX(-100%));
    @include transition((transform 1000ms 0ms $transition-effect,  opacity 1000ms 0ms $transition-effect));
}



.section-content.gallery.show
{
    @include transform(translateX(-33%));
}

.section-content.contact
{
    top:50%;
}

.section-content.credits
{
    top:75%;
    @include transition((transform 1000ms 300ms $transition-effect,  opacity 500ms 300ms $transition-effect));
}



.gallery-summary
{
    float:right;
    width:$content-width;
}

.section-content.settings
{
    position:absolute;
    bottom:0;
    left:0;
    width:200px;
    height:200px;
    padding:20px;
    border-right: 1px solid $secondary-color;
    @include transform(translateX(-100%));
}

.section-content.settings.show
{
    @include transform(translateX(0));
}


/**
* Title
**/


.title-top{
    @extend %submenu-title-font;
}

.title-top.left{
    text-align:left;
}

.title-top.right{
    text-align:right;
}


.title-container{
    width:100%;
    float:left;
}

.title-container .title{
    @extend %menu-title-font;
    width:100%;
    float:right;
    clear:both;
}


.section-info{
    @extend %section-info-font;
    float: right;
    width: 100%;
    text-align: left;
    margin-top:20px;
    margin-bottom:20px;
   
}

.section-info.column{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/**
* Current model Info
**/

.model-info
{
    @extend %model-info-font;
    position:absolute;
    left:35px;
    bottom:50px;
    width:300px;
    height:50px;
    text-align:left;
    opacity:0;
    will-change: transform, opacity;
    @include transition((transform 1s 0s $transition-effect, opacity 1.5s 0s $transition-effect));
}
.model-info.show
{
    opacity:1;
}

.model-info.open
{
    @include transform(translateX(200px));
}

.model-info .title
{
    @extend %model-info-font;
}
.model-info .subtitle
{
    @extend %model-subtitle-font;
}

.model-settings
{
    position:absolute;
    left:-20px;
    margin-top: 10px;
}


.model-settings img
{
    position:absolute;
    left:0px;
    margin-top: 5px;
    width:20px;
}

.model-settings a
{
    @extend %model-settings-font;
    margin-left:20px;
    will-change: color;
    @include transition(color 0.5s 0s $transition-effect);
}

.model-settings a:hover
{
    color: $secondary-color;
}

.model-credits{
    @extend %model-credits-font;
    position:absolute;
    top:0px;
    left:300px;
    border-left: 2px solid $text-color;
    width:500px;
    height:100%;
    padding-left:20px;
    opacity:0;
    will-change:opacity;
    @include transition(opacity 0.5s 0s $transition-effect);
}

.model-info.show .model-credits
{
    opacity:1;
}


/**
* Loading Screens
**/

.init-loading-screen
{
    z-index:2;
    display: inline-block;
    position:absolute;
    width:100%;
    height: 100%;
    line-height: 100%;
    opacity:1;
    visibility:visible;
    background: #121212 url(data:image/gif;base64,R0lGODlhKAAoAIAAABISEiIiIiH5BAAHAP8ALAAAAAAoACgAAAJzDA6Gepz4FnSzyttsxq7ruIWgh4EmGaLnpzItC5ex+JbuvNpaTeO3DuxxfERZMCdM8pDMX7I5W0p3xaeqCg1Oj6itlcrFOrNfY/mM9JJH4qra+8a2w0M6ehzXzs959H6N99clGEWoZwcIYci3mNY4iOhVAAA7) 0 0;
    //background-color:#121212;
    color:#fff;
    will-change: opacity, visibility;
    @include transition((opacity 4s 0.5s $transition-effect, visibility 0s 4.5s)); 
}

.init-loading-screen.hide
{
    visibility:hidden;
    opacity:0;
}

.init-loading-screen .title {
	@extend %absolute-center;
    @extend %model-info-font;
    height:80px;
    width:100%;
    text-align:center;
    will-change: opacity;
    -webkit-animation: fade-transition 0.7s infinite alternate ; /* Safari 4+ */
    -moz-animation:    fade-transition 0.7s infinite alternate; /* Fx 5+ */
    -o-animation:      fade-transition 0.7s infinite alternate; /* Opera 12+ */
    animation:         fade-transition 0.7s infinite alternate ; /* IE 10+, Fx 29+ */
}

.init-loading-screen.hide .title{
    opacity:0;
    visibility:hidden;
    -webkit-animation: none; /* Safari 4+ */
    -moz-animation:    none; /* Fx 5+ */
    -o-animation:      none; /* Opera 12+ */
    animation:         none; /* IE 10+, Fx 29+ */
}

.init-loading-bar{
    position:absolute;
    bottom:50%;
    left: 0;
    width:100%;
    height:1px;
    background-color:$loading-bar-color;
    @include transition((transform 0.5s 0s $transition-effect, opacity 0.5s 0s $transition-effect));
}


.init-loading-screen.hide .init-loading-bar{
    transform: translateX(100%);
    opacity:1;
}

.init-loading-progress{
    width:0%;
    margin:auto;
    float: left;
    height:1px;
    background-color:$loading-progress-color;
    @include transition(width 2s $transition-effect);
}


/**
 *  INTRO SCREEN 
 **/

.init-intro-screen
{
    z-index:2;
    position:absolute;
    left:0px;
    bottom:48%;
    width:100%;
    height: 130px;
    opacity:1;
    visibility:visible;
    text-align:center;
    @include transition((opacity 0.5s 6s $transition-effect, visibility 0s 6.5s $transition-effect));
}

.init-intro-screen.hide
{
    visibility:hidden;
    opacity:0;
}

.init-intro-screen .title
{
    @extend %model-info-font;
    position:absolute;
    bottom:70px;
    height:20px;
    width:100%;
    opacity:0;
    will-change: opacity;
    visibility:visible;
    @include transition(opacity 1.5s 0s $transition-effect);
}


.init-intro-screen.show .title
{
    opacity:1;
}


.init-intro-screen .subtitle{
    @extend %model-subtitle-font;    
	position:absolute;
    bottom:50px;
    height:20px;
    width:100%;
    opacity:0;
    will-change: opacity;
    @include transition(opacity 1.5s 2s $transition-effect);
}

.init-intro-screen.show .subtitle{
    opacity:1;
}


/**
 * Model Loading
**/


.model-loading-screen
{
    z-index:15;
    position:absolute;
    padding-right:$menu-width;
    width:100%;
    height: 100%;
    opacity:0;
    visibility:hidden;
    background-color:$primary-color;
    will-change:opacity, visibility;
    @include transition((opacity 0.5s 0s $transition-effect, visibility 0s 0.5s));
}

.model-loading-screen.show
{
    opacity:1;
    visibility:visible;
    @include transition((opacity 0.5s 1.5s $transition-effect, visibility 0s 1.5s));
    
}

.loading-info
{
    @extend %model-settings-font; 
    position:absolute;
    bottom:46%;
    right:$menu-width;
    width:100%;
    height:30px;
    padding-right:10px;
    text-align: right;
    opacity:0;
    will-change:opacity;
    @include transition(opacity 0.5s $transition-effect);
}

.model-loading-screen.show .loading-info
{
    -webkit-animation: fade-transition 1s infinite alternate ; /* Safari 4+ */
    -moz-animation:    fade-transition 1s infinite alternate; /* Fx 5+ */
    -o-animation:      fade-transition 1s infinite alternate; /* Opera 12+ */
    animation:         fade-transition 1s infinite alternate ; /* IE 10+, Fx 29+ */
}

.model-loading-bar{
    position:absolute;
    bottom:50%;
    left: 0;
    width:100%;
    height:1px;
    background-color:transparent;
    transform: translateX(100%);
    will-change: transform;
    @include transition(transform 0.5s 0s $transition-effect);
}

.model-loading-progress{
    position:absolute;
    width:0%;
    bottom:0px;
    right:0px;
    height:1px;
    background-color:$secondary-color;
    will-change: width;
    @include transition(width 2s $transition-effect);
}

.model-loading-progress.reset{
    position:absolute;
    width:0%;
    @include transition(width 0s $transition-effect);
}


/**
 * Ruler
 **/

.rule
{

    height:3px;
    background-color:$secondary-color;
    clear:both;
}

.rule.left
{
    width:20px;
    float:left;
    margin-top:15px;
}

.rule.right
{
    width:20px;
    float:right;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:5px;

}


/** 
 * fade animation Keyframes
 **/

@-webkit-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


@import 'settings';
@import 'menuOverlay';
@import 'gallery';
@import 'socialIcons';
@import 'mediaQueries';