@import 'mixins';
@import 'cursors';
@import 'typography';
@import 'gridComposer';


$menu-width: 50px;
$content-width:400px;
$content-height:calc(100%/4);
$content-padding:30px;
$gallery-width:33%;

*, *:before, *:after {
  box-sizing: border-box;
 }

a {
	text-decoration: none;
	outline: none;
}

textarea {
    resize: none;
}


hr
{
    border: 0;
    height: 1px;
    background: #333;
}



/*************************************************************************/

.body-wrapper
{
  @extend %body-font;
  //@extend %cursorDefault;
  position:absolute;
  width:100%;
  height:100%;
  background: rgb(255,255,255);
  z-index:0;
}

.threejs-canvas
{
  position:absolute;
  width:100%;
  height:100%;
}

@include scrollbar(.8em, rgba(255,0,0,0.7));
@import 'headerTitle';

/*************************************************************/

.section-content
{
    z-index:2;
    position:absolute;
    width:$content-width;
    height: $content-height;
    padding:$content-padding;
    text-align: right;
    right:$menu-width;
    font-family: Open Sans !important;
  	text-rendering: optimizeLegibility;
    @include transition(transform 0.5s 0s);
    //border:1px solid #000;
}

/** show */


.section-content.main-menu
{
    color:#fff;
    background-color:rgba(0,0,0,0.7);
    transform: translateX(100%);
}

.section-content.main-menu.show
{
    transform: translateX(0%);
}

.perspective-container
{
    z-index:2;
    position:absolute;
    width:$content-width;
    height: $content-height;
    perspective: 1200px;
    //transform-style: preserve-3d;
    perspective-origin: bottom;    
    border:1px solid #000;
}

.section-content.sub-menu
{
    color:#000;
    background-color:rgba(255,255,255,0.3);
    opacity:1;
    transform-origin: bottom;
    transform: translateX(100%);
}

.section-content.sub-menu.show
{
    transform: translateX(0%);
}



.section-content.about
{

    top:0%;
}

.section-content.gallery
{
    transform: translateX(-100%);
    width: 100%;
    top:25%;
}

.section-content.contact
{
    top:50%;
}

.section-content.settings
{
    top:75%;
}



/* gallery styling */
.section-content.gallery.show
{
    transform: translateX(-33%);
}

.gallery-summary
{
    float:right;
    width:$content-width;
}

.contact-map
{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    
}


/****** submenus styling *****************/

.submenu1
{
    top:0%;    
}


.submenu2
{
    top:25%;    
}

.submenu3
{
    top:50%;    
}

.submenu4
{
    top:75%;    
}





/* content section styles *************************************************/

.title-top{
    border: none;
    text-align: right;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 5px;
}

.title-container{
    width:100%;
    float:left;
    text-transform: uppercase;
}

.title-container .title{
    width:100%;
    //color:rgba(255, 0, 0, 0.4);
    font-weight: 300;
    font-size: 5vh;
    letter-spacing: 0px;
}

.title-container .subtitle{
    width:100px;
    //color:rgba(255, 0, 0, 0.4);
    font-weight: 100;
    font-size: 3vh;
    border-top: 2px solid red;
}

.title-info{
    float: right;
    width: 100%;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: left;
}




/*****************************************************************/


/****************************************************************/

.loading-screen
{
    z-index:15;
    position:absolute;
    padding-right:$menu-width;
    width:100%;
    height: 100%;
    opacity:1;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    @include transition((opacity 0.5s 1.5s, visibility 0s 1.5s));
}

.loading-screen.done
{
    opacity:0;
    visibility:hidden;
    @include transition((opacity 1.0s, visibility 0s 1.0s));
}

.loading-info-bottom
{
    position:absolute;
    bottom:50%;
    right:$menu-width;
    width:100%;
    height:30px;
    font-size:11px;
    padding-right:10px;
    text-align: right;
    font-size: 15px;
    color:red;
    text-transform:uppercase;
    -webkit-animation: fade-transition 1s infinite alternate ; /* Safari 4+ */
    -moz-animation:    fade-transition 1s infinite alternate; /* Fx 5+ */
    -o-animation:      fade-transition 1s infinite alternate; /* Opera 12+ */
    animation:         fade-transition 1s infinite alternate ; /* IE 10+, Fx 29+ */
    @include transition(opacity 0.5s);
}

@-webkit-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}





.loading-bar{
    position:absolute;
    bottom:50%;
    left: 0;
    width:100%;
    height:5px;
    background-color:transparent;
}

.loading-progress{
    position:absolute;
    width:0%;
    bottom:0px;
    right:0px;
    height:5px;
    background-color:red;
    @include transition(width 5s);
}

.loading-progress.reset{
    position:absolute;
    width:0%;
    @include transition(width 0s);
}



@import 'settings';
@import 'menuOverlay';
@import 'gallery';
@import 'contact';
@import 'socialIcons';
@import 'mediaQueries';