/**
 * Declare sass constants
 **/
$primary-font-family: Open Sans;
$menu-height:50px;
$section-content-height:225px;
$section-left-width: 230px;
$text-color: rgba(255,255,255,1);
$primary-color: rgba(0,0,0,0.7);
$secondary-color: rgba(255,0,0,1);
$secondary-color-opaque: rgba(255,0,0,0.2);
$main-menu-background: rgba(0,0,0,1);
$footer-background: rgba(0,0,0,1);
$loading-model-background: rgba(0,0,0,0.3);
$background-color: rgba(0,0,0,1);
$transition-effect: ease;



@import 'mixins';
@import 'reset';
@import 'typography';
@include scrollbar(.2em, $secondary-color);

/**
* Wrappers and Container 
**/
.body-wrapper
{
  @extend %main-font;
  position:absolute;
  width:100%;
  height:100%;
  background: $background-color;
  opacity:1;
  z-index:0;
  overflow:hidden;
}

.threejs-canvas
{
  position:absolute;
  width:100%;
  height:100%;
  display:block; 
  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.threejs-canvas.hide
{
  display:none;
}

.video-background
{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    opacity:1;
    //background: url('../src/img/streamingVideo.jpg') no-repeat 0 0; 
    /*-webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover;*/
    background:transparent no-repeat url('../src/img/backgroundPoster.jpg');
    background-position:center bottom;
    //background-size:100%;
    will-change:opacity;
    @include transition(opacity 1000ms 0ms $transition-effect);
}

.video-background.hide{
    opacity:0;
}

.video-overlay
{
   position:absolute;
   width:100%;
   height:100%;
   background: url(../src/img/dotOverlay.png);
}

/**
* Sections 
**/

.section-content{
    position:absolute;
    top:$menu-height;
    right:0;
    width:100%;
    height:$section-content-height;
    padding-top:25px;
    background-color:$primary-color;
    background-image: url(../src/img/dotOverlay.png);
    border-top:1px solid rgba(255, 0, 0, 0.3);
    will-change: transform;
    @include transform(translateY(0));
    @include transition(transform 1000ms 1000ms $transition-effect);
    
}

.section-content.hide {
    @include transform(translateY(-130%));
    @include transition(transform 1000ms 0ms $transition-effect);
}

.section-content .content-left{
    float:left;
    width:$section-left-width;
    height:100%;
    text-align:right;
    padding-right:20px;
}

.section-content .content-right{
    float:left;
    width:calc(100% - 300px);
    height:100%;
    text-align:left;
}

.content-title{
    @extend %content-title-font;
    height:60px;
}

.content-title-fake{
    height:70px;
}

.content-subtitle{
    @extend %content-subtitle-font;
    height: 15px;
}

.section-content .content-left .item{
    @extend %content-item;
    float:right;
    margin-bottom:3px;
}


.section-content .content-right .content-info{
    float:left;
    width:33%;
}

.section-content .content-right .content-info-list{
    float:left;
    width:230px;
    height:150px;
}

.section-content .content-right .content-info-settings{
    float:left;
    width:230px;
    height:110px;
}

.section-content .content-right .description{
    @extend %content-description;
    display:block;
    padding-right: 30px;
}

.section-content.settings
{
    position:absolute;
    bottom:0;
    left:0;
    width:200px;
    height:200px;
    padding:20px;
    border-right: 1px solid $secondary-color;
    @include transform(translateX(-100%));
}

.section-content.settings.show
{
    @include transform(translateX(0));
}

.current-info{
    float:right;
    clear:both;
}

.credits-list
{
    clear:both;
}

.anchor-link
{
    @extend %anchor-link-font;
    color:rgba(255,255,255,0.6);
    @include transition(color 500ms $transition-effect);
}

.anchor-link:hover
{
    color:#fff;
}

.border-bottom{
    position:absolute;
    width:100%;
    height:2px;
    bottom:0px;
    background-color: rgba(255, 0, 0, 0.3);
}
.border-top{
    position:absolute;
    width:100%;
    height:2px;
    top:-2px;
    right:0;
    background-color:rgba(255,0,0,0.3);
}


.footer-section-info
{
    z-index:2;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:$menu-height;
    background-color:$footer-background;
    padding-top:20px;
    padding-left:50px;
    will-change: transform;
    @include transform(translateY(0));
    @include transition(transform 1000ms 0ms $transition-effect);
}

.footer-section-info.hide
{
    @include transform(translateY(100%));
}

.footer-title
{
    @extend %menu-font;
    color:#fff;
    float:left;
    margin-right:10px;
}

.footer-title .surname
{
    color:red;
    font-weight:600;
}


/**
* Loading Screens
**/

.init-loading-screen
{
    z-index:1;
    display: inline-block;
    position:absolute;
    width:100%;
    height: 100%;
    line-height: 100%;
    opacity:1;
    visibility:visible;
    background: #000;
    color:#fff;
    will-change: opacity, visibility;
    @include transition(opacity 1s 0s $transition-effect); 
}

.init-loading-screen.hide
{
    opacity:0;
}

.init-loading-screen .title {
	@extend %absolute-center;
    @extend %submenu-title-font;
    color:#fff;
    height:70px;
    width:100%;
    text-align:center;
    will-change: opacity;
    @include animation(fade-transition 0.7s infinite alternate);
}

.init-loading-screen.hide .title{
    opacity:0;
    @include animation(none);
}

.init-loading-bar{
    position:absolute;
    bottom:50%;
    left: 0;
    width:100%;
    height:1px;
    background-color:transparent;
}


.init-loading-progress{
    width:0%;
    margin:auto;
    height:1px;
    background-color:red;
    @include transition(width 2s $transition-effect);
}

.init-loading-screen.hide .init-loading-bar .init-loading-progress{
    width: 0% !important;
    @include transition(width 0.5s $transition-effect);
}


/**
 *  INTRO SCREEN 
 **/

.init-intro-screen
{
    z-index:1;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    opacity:1;
    visibility:visible;
    text-align:center;
    background:transparent;
    @include transition(opacity 1s 0s $transition-effect);
}

.init-intro-screen.hide
{
    opacity:0;
}

.init-intro-screen .subtitle
{
    @extend %absolute-center;
    @extend %intro-subtitle-font;
    font-size:9px;
    height:20px;
    width:100%;
    opacity:0;
    color:#fff;
    will-change: opacity;
    visibility:visible;
    @include transition(opacity 3s 0s $transition-effect);
}


.init-intro-screen .subtitle.show
{
    opacity:1;
}


.init-intro-screen .title{
    @extend %absolute-center;
    @extend %intro-title-font;  
    height:20px;
    width:100%;
    text-align:center;
    opacity:0;
    will-change: opacity;
    @include transition(opacity 3.0s 0s $transition-effect);
}

.init-intro-screen .title.show{
    opacity:1;
}

.intro-info
{
    letter-spacing:5px;
    font-size:8px;
    color:grey;
    text-transform:none;
}

.title-left{
    margin-left:30px;
}

.bar-top{
    z-index:0;
    position:absolute;
    top:0;
    width:100%;
    height:50px;
    background-color:#000;
}

.bar-bottom{
    z-index:0;
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background-color:#000;
}


.drag-model-info
{
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 60px;
    padding: 5px;
    padding-right: 77px;
    text-align: right;
    height: 25px;
    opacity:1;
    background-color: transparent;
    will-change:opacity;
    @include transition(opacity 500ms 1s $transition-effect);
}

.drag-model-info .content-subtitle{
    font-size:9px;
    font-weight:300;
}

.footer-section-info.hide .drag-model-info
{
    opacity:0;
     @include transition(opacity 500ms 0s $transition-effect);
}




/**
 * Rulers
 **/

.rule
{

    height:3px;
    background-color:$secondary-color;
    clear:both;
}

.rule.hidden
{
    visibility:hidden;
}

.rule.left
{
    width:20px;
    float:left;
    margin-bottom:10px;
    margin-top:10px;
}

.rule.right
{
    width:20px;
    float:right;
    margin-top:10px;
    margin-bottom:10px;
}

.highlight
{
    color: $secondary-color;
    font-weight:400;
}


/** 
 * Lists
**/

.list
{
    float:left;
    margin-top:0px;
}

/** 
 * fade animation Keyframes
 **/

@-webkit-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.email{
    text-transform:none;
}



@import 'settings';
@import 'menuOverlay';
@import 'gallery';
@import 'socialIcons';
@import 'mediaQueries';